<!-- Main window -->
<div class="main_container" id="dashboard_page">


<%unless notice.nil?%>
    <div class="control-group">
      <div class="controls">
        <div class="alert alert-success">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Éxito! </strong> <%= notice%>
        </div>
      </div>
    </div>
<%end%>


<%unless alert.nil?%>

    <div class="control-group">
      <div class="controls">
        <div class="alert alert-error">
          <button type="button" class="close" data-dismiss="alert">×</button>
          <strong>Error!</strong> <%= alert%>
        </div>
      </div>
    </div>
<%end%>


<!-- CHARTS  -->

<div class="row-fluid" style="margin-top: 10px;">

  <div class="widget widget-padding span12">
    <div class="widget-header">
      <i class="icon-bar-chart"></i>
      <h5>Juegos a los que juegas</h5>
      <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body clearfix" style="height: 170px;" id="widget-tasks">
      <div class="widget-tasks-statistics">
        <% @games.each do |game| %>

            <div class="userstats clearfix">
              <a href="javascript:void(0)" data-toggle="modal" data-target="#task_modal_<%= game.id%>">
                <%if game.image.nil?%>
                    <img src="/assets/flip.png" class="image" style="margin-left: 3px;">
                <% else %>
                    <img src="<%= game.image_url(:thumb)%>" class="image">
                <% end%>
                <div class="widget">
                  <input class="knob" data-width="75" data-height="75" data-displayInput=false data-readOnly=true data-thickness=".3" value="60">
                </div>

                    <p><%= game.name%></p>
              </a>
            </div>

        <% end%>


      </div>
    </div>
  </div>
</div><!-- /row-fluid -->



<div class="row-fluid">

  <div class="widget span12">
    <div class="widget-header">
      <i class="icon-comment-alt"></i>
      <h5>Logros recientes</h5>
      <div class="widget-buttons">
        <a href="javascript:void(0)" class="collapse" data-collapsed="false"><i data-title="Collapse" class="icon-chevron-up"></i></a>
      </div>
    </div>
    <div class="widget-body" style="height:310px;overflow:hidden">
      <div class="widget-comments clearfix slimscroll">
        <ul>
          <% if current_user.achievements.count == 0%>
              <div> No tienes logros aún.</div>
          <% else %>
              <% current_user.achievements.last(4).each do |achievement| %>

                      <li>
                        <img src="<%= achievement.image_url(:thumb)%>" class="avatar" style="margin-top: 0px;"/>
                        <div class="comment-bubble">
                          <h4><%= achievement.game.name%> - <strong><%= achievement.name%></strong></h4>
                          <%= achievement.description%>
                        </div>
                      </li>
              <% end %>
          <% end %>
        </ul>
      </div>
    </div><!--/widget-body-->
  </div> <!-- /widget span5 -->
</div> <!-- /row-fluid -->


</div>
<!-- /Main window -->

</div><!--/.fluid-container-->
</div><!-- wrap ends-->



<% @games.each do |game| %>

    <div id="task_modal_<%= game.id%>" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Información de <%= game.name%></h3>
      </div>
      <div class="modal-body">
        <div class="clearfix">
          <img src="<%= game.image_url(:thumb)%>" class="img-circle" style="float: left; width: 65px; margin-right: 20px;">
          <h3 style="margin:0"><%= game.name%></h3>
          <%achievements_from_game = current_user.achievements.where(:game => game).all%>
          <%if achievements_from_game.count == 1%>
              <p class="muted">Posee un solo logro de este juego</p>
          <%else%>
              <p class="muted">Posee <%= achievements_from_game.count %> logros de este juego</p>
          <%end%>

        </div>
        <hr>
        <%achievements_from_game.each do |ac|%>
            <h5><%= ac.name%> </h5>
            <p><%= ac.description%></p>
            <h5>puntos&nbsp;&nbsp;<small><%= ac.points%></small></h5>
      <% end %>
      </div>
      <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Cerrar</button>
      </div>
    </div>

<% end%>




