<p id="notice"><%= notice %></p>

<p>
  <strong>Game key:</strong>
  <%= @game.game_key %>
</p>

<p>
  <strong>Secret key:</strong>
  <%= @game.secret_key %>
</p>

<p>
  <strong>Name:</strong>
  <%= @game.name %>
</p>

<p>
  <strong>Image:</strong>
  <%= @game.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @game.description %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
