<%= form_for(@game_owner) do |f| %>
  <% if @game_owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game_owner.errors.count, "error") %> prohibited this game_owner from being saved:</h2>

      <ul>
      <% @game_owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.text_field :password %>
  </div>
  <div class="field">
    <%= f.label :game_id %><br>
    <%= f.text_field :game_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
